.form-item-label {
  color: #ffffffef !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-size: 0.8vw !important;
  font-weight: 550 !important;
}

.submit-button {
  background-color: #73c0e4 !important;
  border-color: #73c0e4 !important;
  color: #fff !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-size: 0.6vw !important;
  font-weight: 400 !important;
  border-radius: 0.2vw !important;
}
