@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.login_btn_checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.login_btn_checkbox > * {
  margin-bottom: 10px;
}

.login_btn {
  background-color: #5bbbe8 !important;
  border: none !important;
  color: white !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  cursor: pointer !important;
  padding: 20px 30px !important;
  line-height: 0 !important;
  opacity: 0.85 !important;
}

.login_btn:hover {
  background-color: #73c0e4 !important;
}

.register_btn {
  background-color: #a3b3ba !important;
  border: none !important;
  color: white !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  cursor: pointer !important;
  padding: 20px 30px !important;
  line-height: 0 !important;
  opacity: 0.85 !important;
}

.register_btn:hover {
  background-color: #bdc6cc !important;
}

/* Define keyframes for the slide up animation */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to each direct child of .login_btn_checkbox */
.login_btn_checkbox > * {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Specify a different animation-delay for each item */
.login_btn_checkbox > *:nth-child(1) {
  animation-delay: 0.1s;
}
.login_btn_checkbox > *:nth-child(2) {
  animation-delay: 0.2s;
}
.login_btn_checkbox > *:nth-child(3) {
  animation-delay: 0.3s;
}
/* ...continue for as many items as you have */
